{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<main>
  <section class="p-strip--image is-light" {{with .Params.cover}} style="background:url('{{.}}') center / cover" {{end}}>
    <div class="row">
      <div class="col-6">
        <div class="p-card--overlay">
          <img src="{{.Params.photo}}" alt="" style="max-height: 150px; margin-bottom: 10px;" />
        
          <h2>{{.Title}}</h2>

          {{ $sponsor_class_text := "Sponsor" }}
          {{ $sponsor_class_color := "grey" }}
          {{if eq .Params.group "diamond"}}
            {{ $sponsor_class_text = i18n "diamond_sp" }}
            {{ $sponsor_class_color = "#b9f2ff" }}
          {{ else if eq .Params.group "gold"}}
            {{ $sponsor_class_text = i18n "gold_sp" }}
            {{ $sponsor_class_color = "gold" }}
          {{ else if eq .Params.group "silver"}}
            {{ $sponsor_class_text = i18n "silver_sp" }}
            {{ $sponsor_class_color = "silver" }}
          {{ else if eq .Params.group "bronze"}}
            {{ $sponsor_class_color = "#9c5221" }}
            {{ $sponsor_class_text = i18n "bronze_sp" }}
          {{ else if eq .Params.group "supporter"}}
            {{ $sponsor_class_text = i18n "supporter_sp" }}
            {{ $sponsor_class_color = "#8ddd61" }}
          {{ else if eq .Params.group "infra"}}
            {{ $sponsor_class_text = i18n "infra_sp" }}
            {{ $sponsor_class_color = "grey" }}
          {{ else if eq .Params.group "record"}}
            {{ $sponsor_class_text = i18n "record_sp" }}
            {{ $sponsor_class_color = "grey" }}
          {{ else if eq .Params.group "videoi18n"}}
            {{ $sponsor_class_text = i18n "videoi18n_sp" }}
            {{ $sponsor_class_color = "grey" }}
          {{ else if eq .Params.group "swag"}}
            {{ $sponsor_class_text = i18n "swag_sp" }}
            {{ $sponsor_class_color = "grey" }}
          {{else}}
            {{ $sponsor_class_text = i18n "partner_cm" }}
            {{ $sponsor_class_color = "#2887bb" }}
          {{end}}

            <div class="p-chip" style="background-color: {{$sponsor_class_color}};">
              <span class="p-chip__value">
               {{ $sponsor_class_text }}
              </span>
            </div>
          {{with .Params.region}}
          <ul class="p-media-object__meta-list">
            <li class="p-media-object__meta-list-item--location">
              <span class="u-off-screen"></span>{{.}}
            </li>
          </ul>
          {{end}}
          <ul class="p-inline-list--middot">
            {{with .Params.website}}<li class="p-inline-list__item"><a href="{{.}}">Web</a></li>{{end}}
            {{with .Params.github}}<li class="p-inline-list__item"><a href="{{.}}">GitHub</a></li>{{end}}
            {{with .Params.facebook}}<li class="p-inline-list__item"><a href="{{.}}">Facebook</a></li>{{end}}
            {{with .Params.fbgroup}}<li class="p-inline-list__item"><a href="{{.}}">Facebook Group</a></li>{{end}}
            {{with .Params.twitter}}<li class="p-inline-list__item"><a href="{{.}}">Twitter</a></li>{{end}}
            {{with .Params.youtube}}<li class="p-inline-list__item"><a href="{{.}}">YouTube</a></li>{{end}}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="p-strip">
    <div class="row">
      {{ .Content }}
      {{with .Params.brochure}}
      <div>
        <object data='{{.}}' type="application/pdf" width="100%" height="700">

          <iframe src='{{.}}' width="500" height="678">
            <p>This browser does not support PDF!</p>
          </iframe>

        </object>
      </div>
      {{end}}
      <hr />
      <a href='{{ ref . "/sponsors/" }}'><button>{{ i18n "more_sponsors" }}</button></a>
    </div>
  </section>
</main>

{{end}}