{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<main>
    <section class="p-strip--accent">
        <div class="row">
            <img src="{{.Params.photo}}" alt="" style="max-height: 150px; margin-bottom: 10px;"/>
            <b>{{ i18n "sponsors" }}</b>
            <h2>{{.Title}}</h2>
            <div>
              <div class="p-label--new">{{.Params.group}}</div>
            </div>
        </div>
      </section>
      <section class="p-strip">
        <div class="row">
          {{ .Content }}
          <hr/>
          <a href='{{ ref . "/sponsors/" }}'><button>{{ i18n "more_sponsors" }}</button></a>
        </div>
      </section>
</main>

{{end}}