{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<main>
    <section class="p-strip--accent">
        <div class="row">
            <h2>{{.Title}}</h2>
        </div>
    </section>
    <section class="p-strip">
        <div class="row">
        {{ .Content }}
        {{ range .Site.Data.patrons }}
        <div class="p-card col-4">
          <h3>{{.name}}</h3>
          <h5>{{.org_and_title}}</h5>
          <hr/>
          <p class="p-text--x-small-capitalised">{{ i18n "donated_at" }}</p>
          <p>{{.donated_at}}</p>
        </div>
             {{ end }}
        </div>
    </section>
</main>

{{end}}