{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<main>
    <section class="p-strip--accent">
        <div class="row">
            <h2>{{.Title}}</h2>
        </div>
    </section>
    <section class="p-strip">
        <div class="row">
            {{ .Content }}
            <table aria-label="Example of formatting in the table">
                <thead>
                  <tr>
                    <th>{{ i18n "name" }}</th>
                    <th>{{ i18n "donated_at" }}</th>
                  </tr>
                </thead>
                <tbody>
                    {{ range .Site.Data.patrons }}
                  <tr>
                    <th>{{.name}}</th>
                    <td>{{.donated_at}}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
        
        </div>
    </section>
</main>

{{end}}