{{ define "main" }}
<main>
  <section class="p-strip--accent">
    <div class="row">
      <h2>{{.Title}}</h2>
      <p>{{.Content}}</p>
    </div>
  </section>
 <section class="p-strip">
    {{ $pages := .Site.Pages }}
    {{ range .Site.Home.Translations }}
    {{ $pages = $pages | lang.Merge .Site.RegularPages }}
    {{ end }}
    {{ $pages = (where $pages "Section" "hosts") }}
    <div class="row">
    <h3>{{ i18n "ubuntu_locos" }}</h3>
      {{ range where $pages "Params.group" "UbuntuLoCos" }}
      <div class="p-card col-3">
        <a href="{{ .RelPermalink }}">
          <img src="{{ .RelPermalink }}{{.Params.photo }}" alt="{{.Params.title}}" style="max-height: 100px;" />
          <h4>{{.Title}}</h4>
        </a>
      </div>
      {{ end }}
      <h3>{{ i18n "other_foss" }}</h3>
      {{ range where $pages "Params.group" "OtherLoCos" }}
      <div class="p-card col-3">
        <a href="{{ .RelPermalink }}">
          <img src="{{ .RelPermalink }}{{.Params.photo }}" alt="{{.Params.title}}" style="max-height: 100px;" />
          <h4>{{.Title}}</h4>
        </a>
      </div>
      {{ end }}
    </div>
  </section>
</main>
{{ end }}