<div class="p-strip--accent">
  <div class="row">
    <div class="col-12">
      <h3>{{.Site.Params.title}}</h3>
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item"><a class="p-link--inverted" href="mailto:{{.Site.Params.email}}">Contact us (Email)</a></li>
        <li class="p-inline-list__item"><a class="p-link--inverted" href="https://fb.me/{{.Site.Params.facebook}}">Facebook</a></li>
        <li class="p-inline-list__item"><a class="p-link--inverted" href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a></li>
        <li class="p-inline-list__item"><a class="p-link--inverted" href="https://github.com/{{.Site.Params.github}}">GitHub</a></li>
      </ul>
      <p>{{.Site.Params.copyright}}</p>
      <p><a class="p-link--inverted" href="{{.Site.Params.repo}}">Source code on GitHub</a></p>
    </div>
  </div>
</div>
