<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href='{{ "/css/vanilla.css" | relURL }}'/>
    <link rel="stylesheet" href='{{ "/css/ubuconasia.css" | relURL }}'/>
    <link rel="apple-touch-icon" sizes="180x180" href='{{ "/images/favicon/apple-touch-icon.png" | relURL }}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{ "/images/favicon/favicon-32x32.png" | relURL }}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{ "/images/favicon/favicon-16x16.png" | relURL }}'>

    <!-- Title Meta -->
    <title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    {{ if .Params.group }}
    <meta property="og:image" 
        content='https://srvogimg.youngbin.xyz/basic?text={{ .Title }}&imgurl={{"/images/ubuCon_logo_wh_square.png"| absURL }}&imgurl2={{ .Permalink }}{{ .Params.photo }}&bgimgurl={{ .Permalink }}{{ .Params.cover }}' />
    {{ else }}
    <meta property="og:image" 
        content='https://srvogimg.youngbin.xyz/basic?text={{ .Title }}&imgurl={{"/images/ubuCon_logo_wh.png"| absURL }}' />
    {{ end }}



    <!-- Description Meta  -->
    <meta name="description" content="{{if .Content }}{{.Summary}}{{else}}{{ .Site.Params.description }}{{end}}" />
    <meta itemprop="description" content="{{if .Content }}{{.Summary}}{{else}}{{ .Site.Params.description }}{{end}}" />
    <meta property="og:og:description" content="{{if .Content }}{{.Summary}}{{else}}{{ .Site.Params.description }}{{end}}" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image"/>
    {{ if .Params.group }}
    <meta name="twitter:image"
        content='https://srvogimg.youngbin.xyz/render?text={{ .Title }}&imgurl={{"/images/ubuCon_logo_wh_square.png"| absURL }}&imgurl2={{ .Permalink }}{{ .Params.photo }}' />
    {{ else }}
    <meta name="twitter:image"
        content='https://srvogimg.youngbin.xyz/render?text={{ .Title }}&imgurl={{"/images/ubuCon_logo_wh.png"| absURL }}' />
    {{ end }}
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}"/>
    <meta name="twitter:description" content=""/>

    <!-- URL Meta  -->
<!--    <base href="{{ .Permalink }}">-->
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
    <meta name="url" content="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}" />

    <!-- Locale Meta  -->
    <meta property="og:locale" content="{{ .Language.Lang }}">
    <meta name="language" content="{{ .Language.LanguageName }}">
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}

    <!-- Redirect to external website -->
    {{ if .Params.externalRedirect }}
    <meta http-equiv="refresh" content="0; url={{.Params.externalRedirect}}"></meta>
    {{ end }}
</head>
