<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href='{{ "/css/vanilla.css" | relURL }}' />
    <link rel="stylesheet" href='{{ "/css/ubuconasia.css" | relURL }}' />
    <link rel="apple-touch-icon" sizes="180x180" href='{{ "/images/favicon/apple-touch-icon.png" | relURL }}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{ "/images/favicon/favicon-32x32.png" | relURL }}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{ "/images/favicon/favicon-16x16.png" | relURL }}'>

    <!-- Title Meta -->
    <title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />


    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    {{ if .Params.group }}

    {{ $sponsor_class := "Sponsor" }}
    {{if eq .Params.group "diamond"}}
    {{ $sponsor_class = i18n "diamond_sp" }}
    {{ else if eq .Params.group "gold"}}
    {{ $sponsor_class = i18n "gold_sp" }}
    {{ else if eq .Params.group "silver"}}
    {{ $sponsor_class = i18n "silver_sp" }}
    {{ else if eq .Params.group "bronze"}}
    {{ $sponsor_class = i18n "bronze_sp" }}
    {{ else if eq .Params.group "supporter"}}
    {{ $sponsor_class = i18n "supporter_sp" }}
    {{ else if eq .Params.group "infra"}}
    {{ $sponsor_class = i18n "infra_sp" }}
    {{ else if eq .Params.group "record"}}
    {{ $sponsor_class = i18n "record_sp" }}
    {{ else if eq .Params.group "videoi18n"}}
    {{ $sponsor_class = i18n "videoi18n_sp" }}
    {{ else if eq .Params.group "swag"}}
    {{ $sponsor_class = i18n "swag_sp" }}
    {{else}}
    {{ $sponsor_class = i18n "partner_cm" }}
    {{end}}

    <!-- OGP card -->
    <meta property="og:image"
        content='https://srvogimg.youngbin.xyz/basic?text={{ .Title }} ({{ $sponsor_class }})&logoimgurl={{"/images/ubucon_logo_orange_bg.png"| absURL }}&imgurl2={{ .Permalink }}{{ .Params.photo }}&isdark=false&bgimgurl={{ .Permalink }}{{ .Params.cover }}' />
    <!-- Twitter card -->
    <meta name="twitter:image"
        content='https://srvogimg.youngbin.xyz/basic?text={{ .Title }} ({{ $sponsor_class }})&logoimgurl={{"/images/ubucon_logo_orange_bg.png"| absURL }}&imgurl2={{ .Permalink }}{{ .Params.photo }}&isdark=false&bgimgurl={{ .Permalink }}{{ .Params.cover }}' />
    {{ else if .Params.speakers }}

    {{$speaker0 := index .Params.speakers 0}}
    {{$speaker1 := index .Params.speakers 1}}
    {{$speaker2 := index .Params.speakers 2}}
    {{$permalink := .Permalink}}

    <!-- OGP card -->
    <meta property="og:image"
        content='https://srvogimg.youngbin.xyz/basic?text={{ .Title }}&logoimgurl={{"/images/ubucon_logo_orange_bg.png"| absURL }}{{with $speaker0.profile }}&imgurl={{ $permalink }}{{ . }}{{end}}{{with $speaker1.profile }}&imgurl2={{ $permalink }}{{ . }}{{end}}{{with $speaker2.profile }}&imgurl3={{ $permalink }}{{ . }}{{end}}' />
    <!-- Twitter card -->
    <meta name="twitter:image"
        content='https://srvogimg.youngbin.xyz/basic?text={{ .Title }}&logoimgurl={{"/images/ubucon_logo_orange_bg.png"| absURL }}{{with $speaker0.profile }}&imgurl={{ $permalink }}{{ . }}{{end}}{{with $speaker1.profile }}&imgurl2={{ $permalink }}{{ . }}{{end}}{{with $speaker2.profile }}&imgurl3={{ $permalink }}{{ . }}{{end}}' />
    {{ else }}
    <!-- OGP card -->
    <meta property="og:image"
        content='https://srvogimg.youngbin.xyz/basic?text={{ .Title }}&imgurl={{"/images/ubuCon_logo_wh.png"| absURL }}' />
    <!-- Twitter card -->
    <meta name="twitter:image"
        content='https://srvogimg.youngbin.xyz/basic?text={{ .Title }}&imgurl={{"/images/ubuCon_logo_wh.png"| absURL }}' />
    {{ end }}



    <!-- Description Meta  -->
    <meta name="description" content="{{if .Content }}{{.Summary}}{{else}}{{ .Site.Params.description }}{{end}}" />
    <meta itemprop="description" content="{{if .Content }}{{.Summary}}{{else}}{{ .Site.Params.description }}{{end}}" />
    <meta property="og:og:description"
        content="{{if .Content }}{{.Summary}}{{else}}{{ .Site.Params.description }}{{end}}" />

    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="twitter:description" content="" />

    <!-- URL Meta  -->
    <!--    <base href="{{ .Permalink }}">-->
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
    <meta name="url" content="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}" />

    <!-- Locale Meta  -->
    <meta property="og:locale" content="{{ .Language.Lang }}">
    <meta name="language" content="{{ .Language.LanguageName }}">
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}

    <!-- Redirect to external website -->
    {{ if .Params.externalRedirect }}
    <meta http-equiv="refresh" content="0; url={{.Params.externalRedirect}}">
    </meta>
    {{ end }}

    <!-- Full Calendar UI Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
</head>